
	<h2 ><a href="{{ path('pawel_wiki_strona', {'tytul': tytul } ) }}" title="Utworz nowy Wiki Artykul">{{tytul}}</a> </h2>
	<hr>
	<div class="tresc_artykulu"> {% autoescape false %} {{tresc}} {% endautoescape %} </div>