

<div class="boczny_pasek">
	<img src="{{ asset('bundles/pawelwiki/images/ikonka.jpg') }}" />
	<hr><br>
	<a href="{{ path('pawel_wiki_artykul', {'tytul': 'Artykul_test'}) }}"> Strona glowna</a> <br>
	Losowy artykul <br>
	<hr>
	O PawelWiki <br>
	<hr>
	Jak modyfikowac dane <br>
</div>
 
