

<div class="boczny_pasek">
	<a href="{{ path('pawel_wiki_strona_glowna') }}">
		<img src="{{ asset('bundles/pawelwiki/images/ikonka.jpg') }}" />
	</a>
	<hr><br>
	<a href="{{ path('pawel_wiki_strona_glowna') }}"> Strona glowna</a> <br>
	Losowy artykul <br>
	<hr>
	<a href="{{ path('pawel_wiki_info') }}">O PawelWiki</a> <br>
	<hr>
	Jak modyfikowac dane <br>
	<hr>
</div>
 
