{% extends "PawelWikiBundle:Default:szablon_wiki_strona.html.twig" %}
     {% block content %}
		     <ul class="nav nav-tabs">
				  <li class="inactive"><a href="{{ path('pawel_wiki_strona', {'tytul': tytul }) }}">Czytaj</a></li>
				  <li class="active"><a href="{{ path('pawel_wiki_edytuj_artykul', {'tytul': tytul }) }}">Edytuj</a></li>
				  <li class="inactive"><a href="{{ path('pawel_wiki_historie_artykul', {'tytul': tytul }) }}">Historia i autorzy</a></li>
			</ul>     
	    	<h2>Edytuj nowy artykul dla wiki</h2>
			<br><hr>
	     	{{ form(form) }}
	     	{% include 'PawelWikiBundle:Zasady:konwersja_tekstu.html.twig' %}
     {% endblock %}
       