{% extends "PawelWikiBundle:Default:szablon_wiki_strona.html.twig" %}
     {% block content %}
    	<h2>Utwórz nowy artykul dla wiki</h2>
		<br><hr>
     	 {{ form(form) }}
     {% endblock %}
       