{% extends "PawelWikiBundle:Default:szablon_wiki_strona.html.twig" %}
     {% block content %}
		<p>
		<br>
			Pawel Wiki to uproszczona wersja Wikipedi  stworzona w celu testowania technologi webowych
			<br> PHP framework: Symfony, PHPUnit, SQL, Git, Boostrap, JQuery
			
			<br><br> PawelWiki zostal stworzony przez Pawla Szymanskiego
			<br> mail: pawelszyman(at)gmail.com
		</p>

     {% endblock %}
       