{% extends "PawelWikiBundle:Default:szablon_wiki_strona.html.twig" %}
     {% block content %}
     	<h1>Witaj w Pawel Wiki <br> Internetowej Encyklopedi <br> Strona Glowna</h1>
     {% endblock %}
       