<!DOCTYPE html>
<html>
    <head>
        <title>{{tytul}}</title>
    </head>
    <body>
     	{% block content %}
     	{% endblock %}       

        {% include "PawelWikiBundle:Default:stopka.html.twig" %}
    </body>
</html>