<!DOCTYPE html>
<html>
    <head>
    	<title>{{tytul}}</title>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ asset('bundles/pawelwiki/css/PawelWiki.css') }}" />	 	  	
	  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>  
 	     
    </head>
    <body>
    	<div class="container-fluid">
    		<div class="row">
	  	     	<div class="Content">
	  	     		{% include "PawelWikiBundle:Default:pasek_logowania.html.twig" %}
	  	     		{% include "PawelWikiBundle:Szukaj:szukaj_pasek.html.twig" %}
			     	{% block content %}
			     	{% endblock %} 
			     	<hr>      
				</div>  		
	    		<div class="div_boczny_pasek">
		    		{% include "PawelWikiBundle:Default:boczny_pasek.html.twig" %}
		     	</div>
			</div>
			<div class="row row_inside">
		        	{% include "PawelWikiBundle:Default:stopka.html.twig" %}
		    </div>
        </div>
    </body>
</html>