<!DOCTYPE html>
<html>
    <head>
        <title>{{tytul}}</title>
    </head>
    <body>
        {{ render(controller("PawelWikiBundle:WyswietlArtykul:WyswietlArtykul", {'tytul': tytul} )) }}
    </body>
</html>