<h4>Tekst bedzie wyswietlany jako:</h4>
<div class="panel panel-default" >
  <div class="panel-body" id="skonwertowany_tekst"></div>
</div>
{% include 'PawelWikiBundle:Zasady:wiki_zasady.html.twig' %}
<script  src="{{ asset('bundles/pawelwiki/js/KonwersjaTekstu.js') }}"></script> 