  <h3>Jak pisac w WikiCode</h3>
  <p>Zapisz artykul korzystajac z ponizszych zasad :</p>            
  <div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Opis</th>
        <th>Wpisz</th>
        <th>Otrzymasz</th>
      </tr>
    </thead>  
    <tbody>
      <tr>
        <td>Akapit</td>
        <td>==Tekst==</td>
        <td><h2>Tekst</h2></td>
      </tr>
      <tr>    
        <td>Akapit</td>
        <td>===Tekst===</td>
        <td><h3>Tekst</h3></td>
     </tr>   
     <tr>
        <td>Akapit</td>
        <td>====Tekst====</td>
        <td><h4>Tekst</h4></td>
     </tr>
     <tr>   
        <td>Akapit</td>
        <td>=====Tekst=====</td>
        <td><h5>Tekst</h5></td>
   	 </tr>
     <tr>   
        <td>link</td>
        <td>http://google.pl</td>
        <td><a href="http://google.pl">google.pl</a></td>
   	 </tr>

   	  http://google.pl
   </tbody>         
  </table>
</div>    