  <h3>Jak pisac w WikiCode</h3>
  <p>Zapisz artykul korzystajac z ponizszych zasad :</p>            
  <div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Opis</th>
        <th>Wpisz</th>
        <th>Otrzymasz</th>
      </tr>
    </thead>  
    <tbody>
      <tr>
        <td>Akapit</td>
        <td>==Tekst==</td>
        <td><h2>Tekst</h2></td>
      </tr>
      <tr>    
        <td>Akapit</td>
        <td>===Tekst===</td>
        <td><h3>Tekst</h3></td>
     </tr>   
     <tr>
        <td>Akapit</td>
        <td>====Tekst====</td>
        <td><h4>Tekst</h4></td>
     </tr>
     <tr>   
        <td>Akapit</td>
        <td>=====Tekst=====</td>
        <td><h5>Tekst</h5></td>
   	 </tr>
     <tr>   
        <td>Link zewnetrzny</td>
        <td>http://google.pl</td>
        <td><a href="http://google.pl">google.pl</a></td>
   	 </tr>
      <tr>   
        <td>Link zewnetrzny zmiana nazwy</td>
        <td>[http://google.pl Wyszukiwarka]</td>
        <td><a href="http://google.pl">Wyszukiwarka</a></td>
     </tr>
     </tr>     
      <tr>   
        <td>Link wewnetrzny</td>
        <td>[[Szabla]]</td>
        <td><a href="http://localhost/xampp/symfony/PawelWiki/web/app_dev.php/strona/szabla">Szabla</a></td>
     </tr>
      <tr>   
        <td>Link wewnetrzny zmiana nazwy</td>
        <td>[[Szabla SZABLI]]</td>
        <td><a href="http://localhost/xampp/symfony/PawelWiki/web/app_dev.php/strona/szabla">SZABLI</a></td>
     </tr>
      <tr>   
        <td>Wypunktowana lista</td>
        <td>* Element1
         * Element2 
        </td>
        <td>
          <ul>
            <li>Element1</li>
            <li>Element2</li>
          </ul>
        </td>
      <tr>   
        <td>Numerowana lista</td>
        <td># Element1
         # Element2 
        </td>
        <td>
          <ol>
            <li>Element1</li>
            <li>Element2</li>
          </ol>
        </td>
     </tr>

   </tbody>         
  </table>
</div>    