
{% set tytul = 'Pawel Wiki lista autorow' %}
{% extends "PawelWikiBundle:Default:szablon_wiki_strona.html.twig" %}

    {% block content %}
    <h1>Zarejestruj sie</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('autordb') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
