
	{{ render(controller("PawelWikiBundle:WyswietlStrone:utworzFormSzukaj" )) }}
<!--
<div class=text-right><form class="form-search">
    <div class="input-append">
        <input type="text" placeholder="Szukaj" class="span2 search-query">
        <button type="submit" class="btn-default"><span class="glyphicon glyphicon-search"></span></button>
    </div>
</form></div>
-->