{% extends "PawelWikiBundle:Default:szablon_wiki_strona.html.twig" %}
     {% block content %}
		     <ul class="nav nav-tabs">
				  <li class="inactive"><a href="{{ path('pawel_wiki_strona', {'tytul': tytul }) }}">Czytaj</a></li>
				  <li class="inactive"><a href="{{ path('pawel_wiki_edytuj_artykul', {'tytul': tytul }) }}">Edytuj</a></li>
				  <li class="active"><a href="{{ path('pawel_wiki_historie_artykul', {'tytul': tytul }) }}">Historia i autorzy</a></li>
			</ul>
			<br>
			<div><h3>Stara wersja artykulu:</h3></div>
			<div>
				{{ artykul.zwrocHTML }}
			</div>

     {% endblock %}
       